.events {
  margin: 2rem auto;
  max-width: 55%;
}

.heading {
  margin: 5rem 0 3rem 0;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.125rem;
}

.item a {
  text-decoration: none;
  color: inherit;
  display: flex;
  background-color: var(--color-gray-800);
  border-radius: 4px;
  overflow: hidden;
}

.item a:hover {
  transform: scale(1.02);
  background-color: var(--color-gray-700);
}

.item img {
  width: 60%;
  object-fit: cover;
  aspect-ratio: 1.1;
}

.content {
  padding: 1rem;
}
.item h2 {
  margin: 0 0 1rem 0;
}

@media (min-width: 700px) {
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
